// My Styles
:root {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  padding: 0;
}
a {
  text-decoration: none;
}
// end of My Styles
// Common styles of the project

html,
body {
  height: 100%;
}

.page {
}

.page__wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

* html .page__wrapper {
  height: 100%;
}

.page__buffer {
  height: 50px;
}
